.footer-svg-path {
  transform-box: fill-box;
  transform-origin: center;

  animation: svg-path-translate linear both;
  animation-timeline: view();
  /* animation-range: entry 0% cover 38%; */
  animation-range: entry 5% entry calc(100% + (var(--sfu) * 3));
}

@keyframes svg-path-translate {
  0% {
    transform: translateY(calc(calc(var(--i) * 0.1) * calc(var(--sfu) * 20)));
  }
  100% {
    transform: translateY(0);
  }
}
