@import "tailwindcss";
@config "../../tailwind.config.ts";  


/*  */
/* @import "../styles/animation/parallax-spin.css"; */


@layer utilities {
  @media (hover: none) and (pointer: coarse) {
    .hover-only {
      display: none !important;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}